body {
  overflow: hidden;
}

.main {
  background-color: #fff;
}

.top-row {
  height: 20vh;
}

.top-button-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-button a {
  color: #000;
  text-decoration: none;
}
.top-button:hover a {
  color: #fff;
}

.top-button {
  width: 80%;
  border-radius: 50px;
  border: 3px solid #000;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  padding: .5em;
  margin: 2em 0 2em 0;
  text-transform: uppercase;
}

.top-button:hover {
  background-color: #000;
  color: #fff;
  border: 3px solid #fff;
}

.letters {
  height: 80vh;
}

.bg-letters {
  /*  width: 115vw;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.bg-letter1,
.bg-letter2,
.bg-letter3,
.bg-letter4,
.bg-letter5,
.bg-letter6,
.bg-letter7,
.bg-letter8,
.bg-letter9 {
  padding: 1.6em;
}

.bg-letter1:hover,
.bg-letter2:hover,
.bg-letter3:hover,
.bg-letter4:hover,
.bg-letter5:hover,
.bg-letter6:hover,
.bg-letter7:hover,
.bg-letter8:hover,
.bg-letter9:hover {
  opacity: 0;
}

.main-title {
  height: 30vh;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: calc((100% - 958px)/2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.refest-title {
  width: 70vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 4.5em;
  font-stretch: expanded;
  text-align: center;
  letter-spacing: .3em;
  text-transform: uppercase;
  color: #fff;
  background: url(img/bg.png) repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-position: 40% 50%;
  position: relative;
}

.disappear {
  opacity: 0;
}

.appear {
  opacity: 1;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
